* {
            padding: 0;
            margin: 0
        }

        header {
            background-size: 100% 100px;
        }

        body {
            background-image: url("images/BMC背景图.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .card {
            color: aliceblue;
        }

        .dropbtn {
            background-color: #01fffd;
            color: #144f75;
            padding: 10px;
            width: 80px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 5px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #01fffd;
            min-width: 120px;
            box-shadow: 0px 8px 8px 0px #144f75;
        }

        .dropdown-content a {
            color: #144f75;
            padding: 10px 10px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #07acfe
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #07acfe;
        }